<appSettings>

  <add key="applicationUserManager:emailLifespanInHours" value="6" />
  
  <add key="applicationEmail:address" value="system@fullstack.webapi" />
  <add key="applicationEmail:displayName" value="System @ FullStack WebAPI" />
  
  <add key="as:Name" value="FullStack.WebAPI"/>
  <add key="as:IssuerDomain" value="http://localhost:49566"/>
  <add key="as:AudienceId" value="f6640b5778fa4a538d8556cad892fa3a" />
  <add key="as:AudienceSecret" value="DSg0Ca89Ke62yHvV5rrzMj2wAy3WtJjkkSh69dQEx2c" />
  
</appSettings>